RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home$ index.php?controller=home&action=index [QSA,L]
RewriteRule ^loginAccount$ index.php?controller=Account&action=loginAccount [QSA,L]
RewriteRule ^createAccount$ index.php?controller=Account&action=createAccount [QSA,L]
RewriteRule ^logoutAccount$ index.php?controller=Account&action=logoutAccount [QSA,L]
RewriteRule ^viewLogin$ index.php?controller=Account&action=viewLogin [QSA,L]

RewriteRule ^createUser$ index.php?controller=User&action=createUser [QSA,L]
RewriteRule ^pageCreateUser$ index.php?controller=User&action=pageCreateUser [QSA,L]
RewriteRule ^pageLoginUser$ index.php?controller=User&action=pageLoginUser [QSA,L]
RewriteRule ^loginUser$ index.php?controller=User&action=loginUser [QSA,L]
RewriteRule ^logoutUser$ index.php?controller=User&action=logoutUser [QSA,L]
RewriteRule ^profileUser$ index.php?controller=User&action=profileUser [QSA,L]
RewriteRule ^editUser$ index.php?controller=User&action=editUser [QSA,L]
RewriteRule ^deleteUser$ index.php?controller=User&action=deleteUser [QSA,L]
RewriteRule ^adminPage$ index.php?controller=User&action=adminPage [QSA,L]

RewriteRule ^pageCreateGift$ index.php?controller=Gift&action=pageCreateGift [QSA,L]
RewriteRule ^createGift$ index.php?controller=Gift&action=createGift [QSA,L]
RewriteRule ^editGift$ index.php?controller=Gift&action=editGift [QSA,L]
RewriteRule ^deleteGift$ index.php?controller=Gift&action=deleteGift [QSA,L]
RewriteRule ^getCategoryHint$ index.php?controller=Gift&action=getCategoryHint [QSA,L]
RewriteRule ^giftList$ index.php?controller=Gift&action=giftList [QSA,L]
RewriteRule ^secretPage$ index.php?controller=Gift&action=secretPage [QSA,L]
RewriteRule ^reservedGift$ index.php?controller=Gift&action=reservedGift [QSA,L]
RewriteRule ^deleteGiftToOffer$ index.php?controller=Gift&action=deleteGiftToOffer [QSA,L]

