RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home$ index.php?controller=home&action=index [QSA,L]
RewriteRule ^cgu$ index.php?controller=home&action=cgu [QSA,L]

RewriteRule ^signUpPage$ index.php?controller=home&action=signUpPage [QSA,L]

RewriteRule ^signInAccount$ index.php?controller=Account&action=signInAccount [QSA,L]
RewriteRule ^signUpAccount$ index.php?controller=Account&action=signUpAccount [QSA,L]
RewriteRule ^logoutAccount$ index.php?controller=Account&action=logoutAccount [QSA,L]
RewriteRule ^editAccount$ index.php?controller=Account&action=editAccount [QSA,L]
RewriteRule ^signUpUser$ index.php?controller=User&action=signUpUser [QSA,L]

RewriteRule ^signInUser$ index.php?controller=User&action=signInUser [QSA,L]
RewriteRule ^logOutUser$ index.php?controller=User&action=logOutUser [QSA,L]
RewriteRule ^profileUser$ index.php?controller=User&action=profileUser [QSA,L]
RewriteRule ^editUser$ index.php?controller=User&action=editUser [QSA,L]
RewriteRule ^deleteUser$ index.php?controller=User&action=deleteUser [QSA,L]
RewriteRule ^adminPage$ index.php?controller=User&action=adminPage [QSA,L]

RewriteRule ^pageCreateGift$ index.php?controller=Gift&action=pageCreateGift [QSA,L]
RewriteRule ^createGift$ index.php?controller=Gift&action=createGift [QSA,L]
RewriteRule ^editGift$ index.php?controller=Gift&action=editGift [QSA,L]
RewriteRule ^deleteGift$ index.php?controller=Gift&action=deleteGift [QSA,L]
RewriteRule ^getCategoryHint$ index.php?controller=Gift&action=getCategoryHint [QSA,L]
RewriteRule ^giftList$ index.php?controller=Gift&action=giftList [QSA,L]
RewriteRule ^secretPage$ index.php?controller=Gift&action=secretPage [QSA,L]
RewriteRule ^reservedGift$ index.php?controller=Gift&action=reservedGift [QSA,L]
RewriteRule ^deleteGiftToOffer$ index.php?controller=Gift&action=deleteGiftToOffer [QSA,L]

