body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #F8F3E8;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: none;
}

#footerImage {
    width: 100%;
    margin: 0;
    padding: 0;
}


/* 
############################################################
                           NAVBAR
############################################################ 
*/
.navbar {
    background-color: #F8F3E8 !important;
    padding: 1%;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-link i {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

.nav-link span {
    font-size: 0.875em;
    text-align: center;
}

.menuIcon {
    color: #23856d;
}

.menuText {
    color: #D9372A;
}

/* titre famille dans le menu */
nav h3 {
    width: 30rem;
    text-align: center;
    color: #D9372A;
}

@media screen and (max-width: 480px) {
    nav h3 {
        width: fit-content;
    }
}

nav {
    width: 100% !important;
    display: flex;
    flex-wrap: nowrap !important;
}

/* 
############################################################
                           FOOTER
############################################################ 
*/
footer {
    background-color: #D9372A;
}

.footerItem {
    text-align: center;
    width: 20%;
    margin: 0;
}


@media screen and (max-width: 480px) {
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* .footerItem ul {
        display: none;
    } */

    .footerItem {
        width: 0;
        display: flex;
    }

    .footerItem ul {
        padding-left: 0;
    }

    .footerItem ul li {
        width: 100%;
        white-space: nowrap;
        text-align: center;
    }

    .copyright {
        width: 70% !important;
        margin: 0 auto;
    }

    .footerItem img {
        margin-top: 1em;
    }
}


/* 
############################################################
                         BANNER
############################################################ 
*/
#helloFamilyContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    z-index: 777;
}

#helloFamily {
    width: fit-content;
    padding: 1%;
    background-color: #FFD8EF;
    z-index: 999;
    position: absolute;
    color: #00205B;
}


/* 
############################################################
                           COUNTDOWN
############################################################ 
*/
#countDown {
    color: black;
}

#connexionInscription {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#createAccount,
#loginAccount {
    width: 50%;
}

/* 
############################################################
             MESSAGE D'ERREUR
############################################################ 
*/
.text-danger {
    color: red;
}

/* 
############################################################
             EYE BUTTON ON INPUT PASSWORD
############################################################ 
*/

/* mdp = div contenant les 3 éléments (label input et div eye)< */
.mdp {
    position: relative;
}

/* eye = div contenant l'icone */
.eye {
    display: flex;
    align-items: center;
    position: absolute;
    height: 150%;
    top: 0;
    right: 0;
    padding-right: 1em;
}

/* 
############################################################
                      CONNEXION/INSCRIPTION
############################################################ 
*/

@media screen and (max-width: 480px) {
    #connexionInscription {
        display: flex;
        flex-direction: column-reverse;
    }

    #loginAccount,
    #createAccount {
        width: 100%;

    }

    .col-4 {
        width: 60%;
        margin: 0 auto;
    }
}



/* 
############################################################
                      PROFIL ACCUEIL
############################################################ 
*/
.profile {
    width: 150px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.profile-image {
    width: 100%;
    height: 70%;
}

.profile-name {
    padding: 15px;
    text-align: center;
    color: #333;
    text-decoration: none;
    display: block;
}

.profile-name:hover {
    color: pink;
}


/* FORMULAIRE CREATION GIFT */
#giftPage {
    display: flex;
}

.sectionGift {
    width: 50%;
}

@media screen and (max-width: 480px) {
    .profile {
        width: 40%;
        height: auto;
    }

    #profileCards {
        display: flex;
        flex-wrap: wrap;
    }
}

/* 
############################################################
                    LISTES PAGE SECRÈTE
############################################################ 
*/
#containerList,
#containerListToOffer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list {
    width: 30%;
    margin: 25px;
    padding: 25px;
    height: 350px;
    border: solid #546E5A 5px;
    border-color: #546E5A;
    float: left;
    overflow-y: auto;
}

.listSecretPage {
    width: 100%;
    margin: 25px;
    padding: 25px;
    height: 350px;
    border: solid #546E5A 5px;
    border-color: #546E5A;
    float: left;
    overflow-y: auto;
    scrollbar-color: #546E5A;
}

#containerList {
    width: 100%;
}

.boxName {
    width: fit-content;
    transform: rotate(-4deg);
    margin: 15px;
    padding: 0 5px;
    /* float: left; */
    background: #ddd;
    border: 1px solid #222;
    box-shadow: 3px 3px 0 #222;
}

.liAndInputList {
    display: flex;
    flex-direction: row;
}

.fa-candy-cane {
    color: red;
}

.candy {
    text-align: center;
}

.giftList {
    display: flex;
    padding: 0;
}

.giftList li {
    padding: 0.5rem;
}

/* 
############################################################
                        BOUTONS
############################################################ 
*/
.button-paper {
    align-self: center;
    /* background-color: #fff; */
    background-color: rgba(0, 111, 87, .3);
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    /* color: #41403e; */
    color: #faf8f8;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-paper:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-paper:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@media screen and (max-width: 480px) {
    .button-paper {
        font-size: 12px;
        /* Réduire la taille de la police */
        padding: 6px 12px;
        /* Réduire les marges intérieures */
    }
}

/* 
############################################################
                    BOUTON DECONNEXION USER
############################################################ 
*/
#logoutUserBtn {
    float: right;
}

#logoutUserBtn button {
    background-color: transparent;
    border: none;
}

#logoutUserBtn a {
    text-decoration: none;
    color: inherit;
}

/* 
############################################################
                        CATEGORY AUTO COMPLETION
            Evite trop de catégories écrites différemment
############################################################ 
*/
#suggestions ul {
    background-color: #fff;
    border-radius: 5%;
}

/* 
############################################################
                           PAGE PROFIL
############################################################ 
*/
#profilePage {
    display: flex;
    flex-direction: row;
}


.editUser {
    display: none;
}

#btnProfil {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#btnProfil button {
    margin-top: 1em;
    width: 200px;
}

@media screen and (max-width: 480px) {
    #profilePage {
        flex-direction: column;

    }
}

/* 
############################################################
                           FOOTER
############################################################ 
*/
footer {
    background-color: #bb010b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}

footer ul {
    text-align: center;
    /* Aligner les éléments au milieu */
}

footer ul li {
    text-align: justify;
}


footer ul li a {
    color: #FAF8F8;
}

.footerItem {
    width: 30%;
    color: #FAF8F8;
    text-align: center;
}

.footerItem img {
    text-align: start;
}

.footerItem {
    padding: 0;
}